<!-- <ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>cafe button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper
    #swiperRef
    [slidesPerView]="3"
    [centeredSlides]="true"
    [spaceBetween]="30"
    [pagination]="{
    type: 'fraction'
  }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
    <ng-template swiperSlide>Slide 4</ng-template>
  </swiper>
  <p class="append-buttons">
    <button (click)="prepend2()" class="prepend-2-slides">
      Prepend 2 Slides
    </button>
    <button (click)="prepend()" class="prepend-slide">Prepend Slide</button>
    <button (click)="append()" class="append-slide">Append Slide</button>
    <button (click)="append2()" class="append-2-slides">Append 2 Slides</button>
  </p>
</ion-content> -->
